.yyz{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    background-color: #FFFDF9;
    border: 1px solid #EAEAEA;
    border-radius: 14px;
    box-shadow: 
  0 6px 16px rgba(0, 0, 0, 0.06);
  color: #2B2B2B;
font-weight: 600;
border-bottom: 1px solid #F2F2F2;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  transition: all 0.9s ease;
}
.card::before {
  content: "";
  height: 4px;
  background: linear-gradient(90deg, #FDF2F8, #F9A8D4);
  border-radius: 14px 14px 0 0;
  opacity: 0.85;
}

.list-group-item{
    color: #6B7280;
  font-size: 12.5px;
  background-color: #F9FAFB;
  padding: 4px 10px;
  border-radius: 16px;
}
